#Android
*.iml
.gradle
AndroidApp/local.properties
.idea
.DS_Store
build/
/captures
AndroidApp/app/src/main/res/raw/data

#Platform IO
.pioenvs
.clang_complete
.gcc-flags.json

#node JS
node_modules
npm-debug.log
*.seed
.npm